body {
	font-family: "Open Sans", "Arial", sans-serif;
	font-size: 15px;
	font-weight: 300;
	line-height: 18px;
	color: #000000;
}

h1, h2, h3 {
	font-family: "Gilroy", "Arial", sans-serif;
	font-size: 47px;
	font-weight: 700;
	letter-spacing: 0.01em;
	line-height: 56px;
}

h2.hidden {
	position: absolute;
	left: 0;
	top: -500px;
	width: 1px;
	height: 1px;
	overflow: hidden;
}

.container {
	width: 1160px;
	margin: 0 auto;
	padding: 0 40px;
	background-clip: content-box;
}

.clearfix::after {
	content: "";
	display: table;
	clear: both;
}

.btn {
	display: inline-block;
	padding: 9px 0;
	font-family: "Gilroy", "Arial", sans-serif;
	font-size: 18px;
	font-weight: 700;
	line-height: 22px;
	text-transform: uppercase;
	text-decoration: none;
	text-align: center;
	letter-spacing: 0.2em;
	color: #000000;
	background: url("../img/btn.png") repeat-x center / 1px;
	transition: background-size 0.3s ease-in;
}

.btn:hover {
	background-size: 10px;
}

.btn:active {
	color: #bd9b24;
}

.header-logo,
.footer-logo {
	display: block;
	width: 164px;
	font-family: "Gilroy", "Arial", sans-serif;
	font-size: 48px;
	font-weight: 700;
	line-height: 58px;
	letter-spacing: 0.01em;
	text-transform: uppercase;
	text-decoration: none;
	cursor: default;
}




/* HEADER */



.main-header {
	background-image: linear-gradient(#ffffff 40px, #f7e296 0%);
}

.header-container {
	padding: 11px 55px 47px 60px;
}

.header-logo {
	margin-bottom: 5px;
	margin-left: -3px;
	color: #000000;
}

.header-logo-link:hover {
	color: #464646;
	cursor: pointer;
}

.header-logo-link:active {
	color: #666666;
}

.main-header a:not(.header-logo-link):hover {
	opacity: 0.6;
}

.main-header a:not(.header-logo-link):active {
	opacity: 0.3;
}

.search-form {
	position: relative;
	float: left;
	width: 440px;
	font-size: 0;
}

.search-form::before {
	content: "";
	position: absolute;
	top: 17px;
	left: 3px;
	width: 16px;
	height: 16px;
	background: url("../img/small-icons.png") no-repeat -5px -5px;
}

.search-field {
	width: 355px;
	padding: 15px 39px 14px 39px;
	border: none;
	font-size: 15px;
	letter-spacing: 0.01em;
	background-color: transparent;
	opacity: 0.3;
}

.search-field::-webkit-input-placeholder {
	opacity: 1;
}

.search-field:hover {
	opacity: 0.6;
}

.search-field:focus {
	outline: none;
	opacity: 1;
	border-bottom: 2px solid #000000;
}

.search-btn {
	width: 85px;
	padding: 13px 0 14px 0;
	border: 2px solid #000000;
	background-color: transparent;
	font-size: 15px;
	letter-spacing: 0.01em;
	word-wrap: break-word;
}

.search-btn:hover {
	background-color: #000000;
	color: #ffffff;
}

.find-btn:active {
	color: #747474;
}

.user-menu {
	float: right;
	width: 500px;
	margin-right: 5px;
	padding: 15px 0;
	font-size: 0;
}

.user-menu a {
	display: inline-block;
	vertical-align: top;
	position: relative;
	font-size: 15px;
	letter-spacing: 0.01em;
	text-decoration: none;
	color: #000000;
}

.login {
	margin-right: 218px;
	padding-left: 26px;
}

.profile {
	margin-right: 10px;
	padding-left: 17px;
	width: 151px;
	text-align: center;
	word-wrap: break-word;
}

.login::before,
.profile::before,
.footer-login::before {
	content: "";
	position: absolute;
	top: 3px;
	left: 0;
	width: 13px;
	height: 12px;
	background: url("../img/small-icons.png") no-repeat -5px -343px;
}

.user-menu .logout {
	margin-right: 64px;
	color: #c3b276;
}

.compare {
	margin-right: 40px;
	padding-left: 20px;
}

.compare::before,
.footer-compare::before {
	content: "";
	position: absolute;
	top: 5px;
	left: 0;
	width: 10px;
	height: 10px;
	background: url("../img/small-icons.png") no-repeat -5px -263px;
}

.cart {
	padding-left: 22px;
}

.cart::before,
.footer-cart::before {
	content: "";
	position: absolute;
	top: 3px;
	left: 0;
	width: 12px;
	height: 12px;
	background: url("../img/small-icons.png") no-repeat -5px -365px;
}

.top-bar {
	margin-bottom: 30px;
}

.content-menu,
.drop-down-list {
	margin: 0;
	padding: 0;
	font-size: 0;
	list-style: none;
}

.first-level,
.drop-down-list {
	display: inline-block;
	vertical-align: top;
}

.first-level > a {
	font-family: "Gilroy", "Arial", sans-serif;
	font-size: 18px;
	font-weight: 700;
	line-height: 22px;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 0.2em;
	color: #000000;
}

.first-level {
	position: relative;
}

.catalog-link {
	margin-right: 294px;
}

.catalog-link a {
	padding-right: 27px;
}

.catalog-link > a::after {
	content: "";
	position: absolute;
	top: 3px;
	right: 0;
	width: 16px;
	height: 16px;
	background: url("../img/small-icons.png") no-repeat -5px -283px;
}

.catalog-link:hover .drop-down-menu {
	visibility: visible;
	opacity: 1;
}

.delivery-link {
	margin-right: 34px;
}

.warranty-link {
	margin-right: 109px;	
}

.drop-down-menu {
	visibility: hidden;
	position: absolute;
	top: 21px;
	left: -60px;
	box-sizing: border-box;
	width: 1160px;
	padding: 32px 53px 37px 60px;
	background-color: #f7e296;
	z-index: 10;
	opacity: 0;
	transition: 
		visibility 0.5s ease-out,
		opacity 0.5s ease-out;
}

.drop-down-list {
	margin-right: 32px;
}

.drop-down-list:nth-child(5n+5) {
	margin-right: 0;
}

.second-level a {
	font-size: 15px;
	letter-spacing: 0.01em;
	text-decoration: none;
	color: #000000;
}

.second-level:not(:last-child) {
	margin-bottom: 12px;
}



/* PROMO-SLIDER */



.promo {
	margin-bottom: 95px;
	background-image: linear-gradient(#f7e296 113px, #ffffff 0%);
}

.slider {
	position: relative;
	padding-top: 2px;
}

.slider input {
	display: none;
}

.overflow-wrapper {
	overflow: hidden;
}

.slides {
	width: 300%;
}

.slide {
	float: left;
	width: 1160px;
}

.slide-image {
	float: left;
	width: 560px;
	box-sizing: border-box;
	line-height: 0;
}

.stick {
	padding-left: 90px;
}

.band {
	padding-top: 12px;
	padding-left: 116px;
}

.copter {
	padding-top: 65px;
	padding-left: 31px;
}

.slider-controls {
	position: absolute;
	bottom: 151px;
	right: 61px;
	font-size: 0;
	z-index: 9;
}

.slider-controls label {
	display: inline-block;
	vertical-align: top;
	margin-right: 23px;
	box-sizing: border-box;
	width: 10px;
	height: 10px;
	border: 3px solid #000000;
	border-radius: 50%;
	opacity: 0.3;
	cursor: pointer;
}

.slider-controls label:hover {
	opacity: 0.4;
}

#toggle-1:checked ~ .slider-controls label:nth-child(1),
#toggle-2:checked ~ .slider-controls label:nth-child(2),
#toggle-3:checked ~ .slider-controls label:nth-child(3) {
	opacity: 1;
}

#toggle-1:checked ~ .overflow-wrapper .slides {
	transform: translate(0);
}
#toggle-2:checked ~ .overflow-wrapper .slides {
	transform: translate(-1160px);
}
#toggle-3:checked ~ .overflow-wrapper .slides {
	transform: translate(-2320px);
}

.slide-content {
	position: relative;
	float: right;
	box-sizing: border-box;
	width: 560px;
	padding: 79px 50px 0 0;
}

.slide-content::before {
	content: "";
	position: absolute;
	top: 37px;
	width: 100px;
	height: 7px;
	background-color: #ffffff;
}

.slide-content::after {
	position: absolute;
	font-family: "Gilroy", "Arial", sans-serif;
	font-size: 179px;
	font-weight: 700;
	letter-spacing: 0.01em;
	color: #ffffff;
	z-index: -1
}

.content-stick::after {
	content: "01";
	top: 67px;
	right: 46px;
}

.content-band::after {
	content: "02";
	top: 67px;
	right: 48px;
}

.content-copter::after {
	content: "03";
	top: 67px;
	right: 47px;
}

.slide-content h3 {
	margin: 0;
	margin-right: 111px;
	margin-bottom: 19px;
	letter-spacing: 0.01em;
}

.content-copter h3 {
	margin-right: 0px;
}

.slide-content p {
	margin: 0;
	margin-bottom: 43px;
	line-height: 30px;
	letter-spacing: 0.01em;
	color: #464646;
}

.content-stick p {
	margin-right: 20px;
}

.content-band p {
	margin-right: 50px;
}

.content-copter p {
	margin-right: 30px;
}

.slide-btn {
	width: 220px;
	margin-bottom: 53px;
}

.slide-features {
	font-size: 0;
}

.features-text {
	display: inline-block;
	vertical-align: top;
	margin-right: 77px;
}

.features-text:nth-child(3) {
	margin-right: 0;
}

.features-text b {
	display: block;
	margin-bottom: 11px;
	font-family: "Gilroy", "Arilal", sans-serif;
	font-size: 36px;
	line-height: 43px;
	letter-spacing: 0.01em;
}

.features-text span {
	font-size: 13px;
	letter-spacing: 0.01em;
	line-height: 16px;
}



/* CATEGORIES */



.categories {
	margin-bottom: 84px;
}

.categories-wrapper {
	font-size: 0;
}

.category-item {
	display: inline-block;
	vertical-align: top;
	width: 160px;
	margin-right: 40px;
	text-decoration: none;
}

.category-item:nth-child(6n+6) {
	margin-right: 0;
}

.category-image {
	background-color: #f7e296;
	width: 160px;
	height: 160px;
	margin-bottom: 34px;
	transition: background-color 0.2s ease-in;
}

.category-item:hover .category-image {
	background-color: #f0c52e;
}

.category-item:active img,
.category-item:active p{
	opacity: 0.3;
}

.category-item p {
	margin: 0;
	margin-right: 34px;
	font-family: "Gilroy", "Arial", sans-serif;
	font-size: 18px;
	font-weight: 700;
	line-height: 22px;
	letter-spacing: 0.01em;
	color: #000000;
}



/* SERVICES */



.services {
	margin-bottom: 94px;
	background-image: linear-gradient(#ffffff 100px, #e5e5e5 0%);
}

.overflow-wrapper-tab {
	overflow: hidden;
	float: right;
	width: 760px;
}

.tab-slider {
	position: relative;
	padding-top: 59px;
	padding-bottom: 133px;
}

.tab-slider input {
	display: none;
}

.tab-slider::before {
	content: "";
	position: absolute;
	left: 317px;
	top: 0;
	width: 7px;
	height: 319px;
	background-color: #000000;
}

.tab-slides {
	width: 300%;
}

.tab-slide {
	float: left;
	width: 760px;
	padding-top: 10px;
	min-height: 186px;
}

.delivery {
	background: url("../img/delivery.png") no-repeat 558px 26px;
}

.warranty {
	background: url("../img/warranty.png") no-repeat 543px 1px;
}

.credit {
	background: url("../img/credit.png") no-repeat 534px 0;
}

.tab-slide h3 {
	margin: 0;
	margin-bottom: 27px;
	letter-spacing: 0.01em;
}

.tab-slide p {
	margin: 0;
	line-height: 30px;
	letter-spacing: 0.01em;
	color: #464646;
}

.tab-controls {
	position: relative;
	float: left;
	margin-top: 21px;
	width: 277px;
	overflow: hidden;
}

.tab-controls label {
	position: relative;
	display: block;
	margin-bottom: 24px;
	box-sizing: border-box;
	padding: 9px 0 9px 5px;
	width: 160px;
	font-family: "Gilroy", "Arial", sans-serif;
	font-size: 18px;
	font-weight: 700;
	text-transform: uppercase;
	text-align: center;
	line-height: 22px;
	letter-spacing: 0.2em;
	color: #000000;
	background: url("../img/btn.png") repeat-x center / 1px;
	transition: background-size 0.3s ease-in;
	z-index: 1;
}

.tab-controls label:hover {
	background-size: 10px;
}

.tab-controls label:last-child {
	margin-bottom: 0;
}

#tab-1:checked ~ .tab-controls label:nth-child(1),
#tab-2:checked ~ .tab-controls label:nth-child(2),
#tab-3:checked ~ .tab-controls label:nth-child(3) {
	color: #f7e184;
	background-image: none;
	background-color: #000000;
}

#tab-1:checked ~ .tab-controls label:nth-child(1)::after,
#tab-2:checked ~ .tab-controls label:nth-child(2)::after,
#tab-3:checked ~ .tab-controls label:nth-child(3)::after {
	content: "";
	position: absolute;
	width: 280px;
	height: 40px;
	top: 0px;
	background-color: #000000;
	z-index: -1;
}

#tab-1:checked ~ .overflow-wrapper-tab .tab-slides {
	transform: translate(0);
}
#tab-2:checked ~ .overflow-wrapper-tab .tab-slides {
	transform: translate(-760px);
}
#tab-3:checked ~ .overflow-wrapper-tab .tab-slides {
	transform: translate(-1520px);
}


/* BRANDS */



.brands {
	margin-bottom: 93px;
}

.brands-wrapper {
	font-size: 0;
}

.brand-logo {
	display: inline-block;
	width: 260px;
	height: 100px;
	margin-right: 40px;
}

.brand-logo:nth-child(4n+4) {
	margin-right: 0;
}

.dji {
	background-image: url("../img/brand-1.jpg");
}

.sp-gadgets {
	background-image: url("../img/brand-2.jpg");
}

.gopro {
	background-image: url("../img/brand-3.jpg");
}

.vive {
	background-image: url("../img/brand-4.jpg");
}

.brand-logo img {
	opacity: 0;
	transition: opacity 0.2s linear;
}

.brand-logo img:hover {
	opacity: 1;
}



/* INFORMATION */



.information {
	padding: 39px 0 82px 0;
}

.information h2 {
	position: relative;
	margin: 0;
	margin-bottom: 39px;
}

.information h2::before {
	content: "";
	position: absolute;
	top: -48px;
	width: 80px;
	height: 7px;
	background-color: #000000;
}

.information p {
	margin: 0;
	margin-bottom: 30px;
	color: #464646;
	line-height: 30px;
}

.information .btn {
	width: 260px;	
}

.about-company {
	float: left;
	width: 475px;
}

.transport-companies {
	margin-top: 76px;
	margin-bottom: 65px;
	padding: 0;
	font-family: "Gilroy", "Arial", sans-serif;
	font-size: 16px;
	font-weight: 700;
	line-height: 19px;
	list-style: none;
}

.transport-companies li {
	position: relative;
	margin-bottom: 21px;
	padding-left: 36px;
}

.transport-companies li::before {
	content: "";
	position: absolute;
	top: 5px;
	left: 0;
	width: 4px;
	height: 4px;
	border: 3px solid #b2b2b2;
	border-radius: 50%;
}

.company-contacts {
	float: right;
	width: 560px;
}

.map {
	margin-top: 39px;
	margin-bottom: 69px;
	width: 560px;
	height: 222px;
}

.map img {
	width: 560px;
	height: 222px;
}



/* CATALOG */



.stretch-wrapper {
	position: relative;
}

.stretch-wrapper::before {
	content: "";
	width: 100%;
	height: 70px;
	position: absolute;
	background-image: -webkit-linear-gradient(left, #dbdbdb 50%, #ebebeb 50%);
	background-image: linear-gradient(left, #dbdbdb 50%, #ebebeb 50%);
	z-index: -1;
}

.stretch-wrapper::after {
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
	top: 70px;
	background-image: -webkit-linear-gradient(left, #eeeeee 50%, #ffffff 50%);
	background-image: linear-gradient(left, #eeeeee 50%, #ffffff 50%);
	z-index: -1;
}

.stretch-wrapper .container {
	background-image: -webkit-linear-gradient(left, #eeeeee 368px, #ffffff 0%);
	background-image: linear-gradient(left, #eeeeee 368px, #ffffff 0%);
}

.filter {
	float: left;
	width: 328px;
}

.filter-title {
	background-color: #dbdbdb;
	min-height: 70px;
}

.catalog-content {
	float: right;
	width: 832px;
}

.catalog-sort {
	background-color: #ebebeb;
	min-height: 70px;
}

.catalog-items {
	margin-top: 69px;
	margin-left: 72px;
	font-size: 0;
}

.catalog-item {
	display: inline-block;
	vertical-align: top;
	width: 360px;
	margin-right: 40px;
	font-size: 18px;
}

.catalog-item:nth-child(2n+2) {
	margin-right: 0;
}

.pagination {
	margin-left: 72px;
}

.pagination .prev {
	float: left;
}

.pagination .next {
	float: right;
}

.page-numbers {
	width: 480px;
	margin: 0 auto;
	text-align: center;
}



/* FOOTER */



.main-footer {
	padding-bottom: 50px;
	background-color: #464646;
	color: #ffffff;
}

.left-block {
	float: left;
	width: 260px;
	margin-right: 107px;
	padding-top: 55px;
	padding-bottom: 90px;
	position: relative;
}

.left-block::after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	width: 80px;
	height: 7px;
	background-color: #f7e184;
}

.left-block p {
	margin: 0;
}

.footer-logo {
	margin-left: -2px;
	margin-bottom: 23px;
	color: #f7e184;
}

.footer-logo-link:hover {
	color: #f0c52e;
	cursor: pointer;
}

.footer-logo-link:active {
	opacity: 0.3;
}

.middle-block {
	float: left;
	padding-top: 137px;
	width: 440px;
	font-size: 0;
}

.footer-service-links {
	margin-bottom: 62px;
}

.footer-service-links a {
	display: inline-block;
	vertical-align: top;
	margin-right: 34px;
	font-family: "Gilroy", "Arial", sans-serif;
	font-size: 18px;
	font-weight: 700;
	line-height: 22px;
	letter-spacing: 0.2em;
	text-decoration: none;
	text-transform: uppercase;
	color: #ffffff;
}

.footer-service-links a:nth-child(3n+2) {
	margin-right: 44px;
}

.footer-service-links a:nth-child(3n+3) {
	margin-right: 0;
}

.footer-service-links a:hover {
	opacity: 0.6;
} 

.footer-service-links a:active {
	opacity: 0.3;
}

.social-links {
	margin-left: 139px;
	width: 147px;
}

.social-btn {
	display: inline-block;
	vertical-align: top;
	margin-right: 15px;
	margin-bottom: 15px;
	width: 39px;
	height: 38px;
	background-image: url("../img/small-icons.png");
	opacity: 0.3;
}

.social-btn:nth-child(3n+3) {
	margin-right: 0;
}

.social-btn:hover {
	opacity: 0.7;
}
.social-btn:active {
	opacity: 0.1;
}

.social-btn.fb {
	background-position: -5px -31px;
}

.social-btn.inst {
	background-position: -5px -79px;
}

.social-btn.tw {
	background-position: -5px -127px;
}

.right-block {
	float: right;
	padding-top: 69px;
	width: 325px;
}

.footer-user-menu {
	margin-bottom: 49px;
	font-size: 0;
}

.footer-user-menu a {
	position: relative;
	display: inline-block;
	vertical-align: top;
	font-size: 15px;
	letter-spacing: 0.01em;
	text-decoration: none;
	color: #d2d2d2;
}

.footer-user-menu a:hover {
	color: #ffffff;
}

.footer-user-menu a:active {
	opacity: 0.3;
}

.footer-login {
	margin-right: 44px;
	padding-left: 26px;
}

.footer-login::before {
	background: url("../img/small-icons.png") no-repeat -5px -409px;
}

.footer-login:hover::before {
	background: url("../img/small-icons.png") no-repeat -5px -387px;
}

.footer-compare {
	margin-right: 39px;
	padding-left: 20px;
}

.footer-compare::before {
	background: url("../img/small-icons.png") no-repeat -5px -451px;
}

.footer-compare:hover::before {
	background: url("../img/small-icons.png") no-repeat -5px -431px;
}

.footer-cart {
	padding-left: 22px;
}

.footer-cart::before {
	background: url("../img/small-icons.png") no-repeat -5px -493px;
}

.footer-cart:hover::before {
	background: url("../img/small-icons.png") no-repeat -5px -471px;
}

.footer-phone-number {
	display: block;
	text-align: right;
	text-decoration: none;
	color: #ffffff;
}

.footer-copyright {
	display: block;
	margin-top: 69px;
	margin-left: auto;
	width: 27px;
	height: 34px;
	font-size: 0;
	background: url("../img/small-icons.png") no-repeat -5px -219px;
}

.footer-copyright:hover {
	background: url("../img/small-icons.png") no-repeat -5px -175px;
}

.footer-copyright:active {
	opacity: 0.3;
}